@model IEnumerable<HackathonWithMVC.Models.User>

@{
    ViewData["Title"] = "GetAllUsers";
    Layout = "~/Views/Shared/_NavAdmin.cshtml";
}


<h1 class="text-center">All Users</h1>
<hr />
@{
    if (TempData["BlockInfo"] != null)
    {

        <div class="alert alert-danger" role="alert">
            @TempData["BlockInfo"]
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLoggedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlocked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLoggedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>

            <td>
                <a asp-action="ToggleBlock" asp-route-id="@item.Id">Block/Unblock User</a> |
                <a asp-action="UserDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
